
/*Code for about section*/ 
@font-face {
    font-family: 'baron';
    src: url('../../fonts/baron_neue/Baron\ Neue\ Bold.otf') format('opentype'), /* Modern Browsers */
}
.about-section{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section h1{
    margin-top: 80px;
    color: white;
    font-family: baron;
    margin-left: 10px;
    margin-right: 10px;
}

.about-section p{
    margin-top: 30px;
    font-family: baron;
    color: aliceblue;
    max-width: 1000px;
    margin-bottom: 30px;
}

.about-section p a{
    border-radius: 2px;
    background-color: white;
    color: black;
    padding: 10px 20px; 
    font-family: baron;
    font-size: small;
    transition: 0.2s smooth;
}

.about-section p a:hover{
    background-color: black; 
    border-color: aliceblue;
    color: aliceblue;
}