
/*Code for about section*/ 
@font-face {
    font-family: 'baron';
    src: url('../../fonts/baron_neue/Baron\ Neue\ Bold.otf') format('opentype'), /* Modern Browsers */
}
.about-section{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-section h1{
    margin-top: 80px;
    color: white;
    font-family: baron;
    margin-left: 10px;
    margin-right: 10px;
}

.about-section p{
    margin-top: 30px;
    font-family: baron;
    color: aliceblue;
    max-width: 1000px;
    margin-bottom: 30px;
}

.about-section p a {
    border-radius: 2px; 
    background-color: white;
    color: black;
    padding: 10px 20px; 
    font-family: baron;
    font-size: small;
    transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease; 
}

.about-section p a:hover{
    background-color: black; 
    border-color: aliceblue;
    color: aliceblue;
}

/* review card coding*/ 

.reviews{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    font-family: baron;
    padding-top: 80px;
}

.review-card {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.review-card h1{
    color: aliceblue;
    text-align: center;
    font-size: 1em;
}

.review-card p{
    padding-top: 7px;
    color: aliceblue;
    font-size: 0.9em;
    text-align: center;
}





/* picture card and description coding begins*/

.picture-text {
    background-color: blue;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap onto multiple lines */
    justify-content: space-between;
}

.picture, .text {
    flex: 1 1 45%; /* Flex items take full width */
}

.picture-first, .text-first {
    order: 1; /* These items will appear first */
}

.picture-second, .text-second {
    order: 2; /* These items will appear second */
}

.picture-img {
    width: 100%; /* Image covers the full width of the container */
    height: 600px; /* Image covers the full height of the container */
    object-fit: cover; /* Ensures the image covers the container without stretching */
    display: block; /* Removes bottom margin caused by inline block elements */
}
